" General Settings
set scrolloff=10
set relativenumber
set showmode
set showcmd
set smartcase
set incsearch
set hlsearch
set visualbell
set clipboard+=unnamed

" Plugin Settings
set surround
set highlightedyank
set nerdtree
set commentary

" Keybindings
let mapleader = " "
imap jk <Esc>

nmap <C-n> <Action>(NextTab)
nmap <C-p> <Action>(PreviousTab)

nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
vmap < <gv
vmap > >gv

nmap <leader>e :NERDTreeToggle<CR>
nmap <leader>s <Action>(SaveAll)

nmap <leader>wv <Action>(SplitVertically)
nmap <leader>wh <Action>(SplitHorizontally)
nmap <leader>wu <Action>(Unsplit)
nmap <leader>wm <Action>(MoveEditorToOppositeTabGroup)

nmap <leader>dd <Action>(ToggleDistractionFreeMode)
nmap <leader>dz <Action>(ToggleZenMode)

nmap <leader>am <Action>(ShowIntentionActions)
nmap <leader>as <Action>(SearchEverywhere)

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fr <Action>(RecentFiles)
nmap <leader>fc <Action>(FindInPath)
nmap <leader>fl <Action>(RecentLocations)

nmap <leader>q <Action>(CloseContent)

nmap <leader>rn <Action>(RenameElement)
nmap <leader>rv <Action>(IntroduceVariable)
nmap <leader>rf <Action>(IntroduceField)
nmap <leader>rr <Action>(Refactorings.QuickListPopupAction)

nmap <leader>gu <Action>(ShowUsages)

nmap <leader>gc <Action>(CheckinProject)
nmap <leader>gs <Action>(ActivateVersionControlToolWindow)
nmap <leader>gb <Action>(Git.Branches)
